* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
} 

html, body { height: 100%; }
body{
    background-color: #66a5ad;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.5em;
}

input[type="submit"] {
	margin: 6px;
	padding: 6px;
	background-color: #ACBEBE;
	border: 1px solid #ACBEBE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
	color: #20232a;
	font-weight: bold;
	text-align: center;
    cursor: pointer;
}

input[type="reset"] {
	margin: 6px;
	padding: 6px;
	background-color: #ACBEBE;
	border: 1px solid #ACBEBE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
	color: #20232a;
	font-weight: bold;
	text-align: center;
    cursor: pointer;
}

input[type="text"] {
	margin: 6px;
	padding: 6px;
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	width: 204px;
}

input[type="email"] {
	margin: 6px;
	padding: 6px;
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	width: 204px;
}

input[type="date"] {
	margin: 6px;
	padding: 6px;
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	width: 204px;
}

input[type="password"] {
	margin: 6px;
	padding: 6px;
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	width: 204px;
}

a {
    display: block;
    color: #304040;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.error {
    color: red;
    font-size: 8px;
}

.menu {
    width: 50%;
    border: 1px solid blue;
}

div.img {
    display:table;
    float: right;
    margin-right: 8%;
    margin-top: -1%;
}
div.img img {
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
    
}
div.img span {
    line-height:normal;
    font-size:11px;
    display:table-footer-group;
    margin:0;
    background:#772626;
    color:white;
    padding:5px;
    text-align:center;
}

img {
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
}

.correo, th, td {
    border: 1px solid black;
    padding: 2px;
}

#dato, td {
    text-align: center !important;
}

.center, .correo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.mensaje {
    vertical-align: top; 
    height:200px; 
    width: 730px; 
    text-align: left;
}

.modificar {
    border: 0 !important;
}