* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
} 

html, body { height: 100%; }
body{
    background-color: #07575b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.5em;
}

#formulario01, #nuevo_usuario{
    color: #66a5ad;
    margin: 20px;
	padding: 20px;
	background-color: #003b46;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	padding-left: 36px;
	width: 204px;
}

input[type="submit"] {
	margin: 6px;
	padding: 6px;
	background-color: #ACBEBE;
	border: 1px solid #ACBEBE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
	color: #20232a;
	font-weight: bold;
	text-align: center;
    cursor: pointer;
}

input[type="reset"] {
	margin: 6px;
	padding: 6px;
	background-color: #ACBEBE;
	border: 1px solid #ACBEBE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
	color: #20232a;
	font-weight: bold;
	text-align: center;
    cursor: pointer;
}


a {
    display: block;
    color: #66a5ad;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}